<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ModelsDungChung.Properties.Settings.QLDODUNGTREEMConnectionString"
        connectionString="Data Source=DESKTOP-4S5PH6K;Initial Catalog=QLDODUNGTREEM;User ID=sa;Password=1"
        providerName="System.Data.SqlClient" />
    <add name="ModelsDungChung.Properties.Settings.QLDoDungTreEmConnectionString1"
        connectionString="Data Source=DESKTOP-4S5PH6K;Initial Catalog=QLDoDungTreEm;User ID=sa;Password=1"
        providerName="System.Data.SqlClient" />
    <add name="ModelsDungChung.Properties.Settings.QLDODUNGTREEMConnectionString2"
        connectionString="Data Source=DESKTOP-4S5PH6K;Initial Catalog=QLDODUNGTREEM;Persist Security Info=True;User ID=sa;Password=1"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>